@using MedicalSystem.FrontEnds.WebMvc.Models
@model IEnumerable<ConsultationModel>
@{
    ViewData["Title"] = "Consultations";
}

<h1>Consultations</h1>
<p>
    <a asp-controller="Consultation" asp-action="Create">Create New</a>
</p>
@if (Model == null)
{
    @ViewData["ErrorReason"]
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Date)</th>
                <th>@Html.DisplayNameFor(model => model.Country)</th>
                <th>@Html.DisplayNameFor(model => model.State)</th>
                <th>@Html.DisplayNameFor(model => model.City)</th>
                <th>@Html.DisplayNameFor(model => model.Doctor!.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Doctor!.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Patient!.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Patient!.LastName)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var consultation in Model)
            {
                <tr>
                    <td>@consultation.Id</td>
                    <td>@consultation.Date</td>
                    <td>@consultation.Country</td>
                    <td>@consultation.State</td>
                    <td>@consultation.City</td>
                    <td>@consultation.Doctor!.FirstName</td>
                    <td>@consultation.Doctor!.LastName</td>
                    <td>@consultation.Patient!.FirstName</td>
                    <td>@consultation.Patient!.LastName</td>
                    <td>
                        <a asp-controller="Consultation" asp-action="Details" asp-route-id="@consultation.Id">Details</a>
                        <a asp-controller="Consultation" asp-action="Edit" asp-route-id="@consultation.Id">Edit</a>
                        <a asp-controller="Consultation" asp-action="Delete" asp-route-id="@consultation.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}